.controls {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: auto;
}

.controls .fa-icon {
    cursor: pointer;
    font-size: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 7%;
    box-shadow: 0 0 6px black;
    z-index: 2;
    color: #071a54;
    background: linear-gradient( 90deg, rgba(174, 238, 237, 1) 0%, rgba(181, 23, 23, 1) 100%);
}

.controls .fa-icon:hover {
    background: linear-gradient( 90deg, rgb(142, 196, 195) 0%, rgb(124, 20, 20) 100%);
}