.board {
  background-color: white;
  cursor: crosshair;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 4px solid red;
}

.create-topic {
  height: 140px;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(25, 17, 28, 0.7);
  border-radius: 4px;
  margin-top: 20px;
}

.create-topic p {
  color: wheat;
  font-size: 23px;
}

.topic-input {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

.topic-btn {
  display: block;
  background-color: wheat;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 19px;
  border-radius: 4px;
  padding: 3px;
}