.board {
  background-color: white;
  cursor: crosshair;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 4px solid red;
}

.draftjs {
  position: absolute;
  z-index: 0;
  border: 2px solid rgb(226, 219, 219);
  min-width: 60px;
  color: black;
  background-color: silver;
  border-radius: 5px;
}

.font-size {
  text-align: left;
  display: inline-block;
}

.font-style {
  text-align: left;
  display: inline-block;
}

.input-text {
  display: block;
  background-color: rgb(243, 240, 240);
  width: 110px;
}

.chat-btn {
  position: absolute;
  bottom: 4%;
  right: 3%;
}

.chat-icon {
  cursor: default;
}

.close-chat {
  margin-top: 8px;
}