.user-info-container {
    background-color: rgba(25, 17, 28, 0.7);
    border-radius: 3px;
    color:wheat;
    margin: 90px auto;
    width: 600px;
    padding-bottom: 30px;
    font-size: 19px;
    position: relative;
    display: grid;
    grid-template: 200px auto / auto auto ;
    grid-template-areas: 
    "name-avatar additional-info" 
    ". avatar-upload-form";
}

.name-avatar {
    grid-area: name-avatar;
    padding-top: 20px;
    font-size: 24px;
}

.additional-info {
    grid-area: additional-info;
    padding-top: 20px;
}

.additional-info span {
    display: block;
}

.avatar-upload-form {
    grid-area: avatar-upload-form;
}
.user-avatar {
    max-width: 100px;
    max-height: 210px;
    border: 2px solid wheat;
    border-radius: 3px;
    margin: 20px 20px;
}

.my-boards, .shared-boards {
    display: inline-block;
    background-color: wheat;
    margin-top: 7px;
    color: black;
    margin: 10px;
    padding: 3px;
    border-radius: 3px;
    cursor: default;
}

.my-boards:hover, .shared-boards:hover {
    background-color: rgb(247, 215, 156);
}
